.parent-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parent-action-bar {
    width: 40%;
    margin-top: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-list-container {
    width: 40%;
    height: 40%;
    margin-bottom: 16px;
}

.project-list-table {
    width: 100%;

    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 4px;
    text-align: center;
    height: 6vh;
}

.parent-container-header {
    width: 40%;
    margin-bottom: 16px;
}

.parent-container-header-text {
    font-size: 20px;
    font-weight: 600;
}

.pagination-button {
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 20px;
    color: white;
}
.pagination-button:hover {
    filter: brightness(90%);
}
.pagination-button:disabled {
    opacity: 0.5;
    filter: brightness(100%) !important;
}

.pagination-text {
    padding: 0 10px;
}

.theme-button {
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 20px;
    color: white;
}
.theme-button:hover {
    filter: brightness(90%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}